table,
td {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 0.5em;
  table-layout: fixed;
  width: 20%;
  text-align: center;
}

.empty {
  background: none;
  height: 1px;
}

.mine {
  background-color: #d9ead3ff;
  height: 1px;
}
.mine.key-container {
  border-color: #b6d7a8;
}
.colour-blind .mine.mine {
  background-color: #38761dff;
  color: #ffffff;
}

.possible {
  background-color: #c9daf8ff;
  height: 1px;
}
.possible.key-container {
  border-color: #a4c2f4;
}
.colour-blind .possible {
  background-color: #6d9eebff;
}

.reasonable {
  background-color: #d9d2e9ff;
  height: 1px;
}
.reasonable.key-container {
  border-color: #b4a7d6;
}
.colour-blind .reasonable {
  background-color: #b4a7d6ff;
}

.unreasonable {
  background-color: #f4ccccff;
  height: 1px;
}
.unreasonable.key-container {
  border-color: #e6b8af;
}
.colour-blind .unreasonable {
  background-color: #f4ccccff;
}

.probability-row {
  cursor: pointer;
  user-select: none;
}

.colour-code-background {
  background-color: #eef5f6ff;
  padding: 0.5em 1em;
}
.colour-code-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  font-size: smaller;

  @media only screen and (min-width: 600px) {
    flex-direction: row;
  }
}
.key-container {
  border-style: dashed;
  border-width: 2px;
  text-align: center;
  margin: 0.5em;
  color: #666666;
  padding: 0.5em;
  height: auto;
}
.colour-blind .key-container {
  color: #000000;
}
.key-caption {
  color: #666666;
  margin: 0.5em;
}
.colour-blind .key-caption {
  color: #000000;
}
.colour-blind-checkbox {
  margin: auto;
  color: #666666;
}
.colour-blind .colour-blind-checkbox {
  color: #000000;
}

.prediction-table {
  min-width: 100%;
  margin: 1em 0;

  @media only screen and (min-width: 768px) {
    flex-basis: 45%;
    min-width: 45%;
    margin: 0;
  }
}
.table-container {
  display: flex;
  flex-direction: column;
}
.row-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  width: 100%;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
    padding: 1em 0;
  }
}

.intro-text {
  align-self: center;
  text-align: center;
  max-width: 768px;
  font-size: larger;
}

.export-button {
  font-size: x-large;
  display: block;
  margin: auto;
  padding: 0.5em 1em;
  cursor: pointer;
}

iframe {
  position: absolute;
  left: -100000px;
  top: -100000px;
  width: 1280px;
  height: 100%;
}
